
<h2>Urejanje izvidov, dobavitelj: <%=current_user.name%></h2>
<p>
V tem programu urejamo dokumente (izvide, izjave) posameznega dobavitelja. Urejen je kot kazalo. Osnova je v anglesčini zato: "Location" namesto "Lokacija", kjer besedo nisem mogel prevest.</p>
<p><strong>Dobavitelje</strong> izberemo v zavihku "Dobavitelj", za iskalni niz vpišemo del imena dobavitelja. Med prikazanimi izberemo dobavitelja. Tukaj je tudi povezava za vpis novega dobavitelja.V preglednici lahko izberemo "Dokumenti" ali "Izberi". "Dokumenti" omogoči pregled obstoječih in dodajanje novih dokumentov (izvidov) za tega dobavitelja.
"Izberi" omogoča urejanje podatkov in dokumentov za izbranega dobavitelja.</p>
<p>Pri dodajanju <strong>novih dokumentov</strong> v tabelo vpišemo lokacijo dokumenta. 
Če bi vpisovali izvid z zaporedno številko 23, bi imeli dve možnosti:
C:/direktorij (mapa) v računalniku Primer: C:/izvidi/23
ali 
Mapa (fascikel za dokumente v papirni obliki). Primer: Mapa Izvidi 2026/23</p>
<p>Pomembno je, da vsak dokument označimo z zaporedno številko. Velja za obe obliki zapisov.
V preglednici dokumentov le-te lahko urejamo in brišemo. Izvid označimo s klikom v kvadratek "Labtest".  V Dokumentu bo zapisano "true"</p>
<p><strong>Poročila</strong>  Pregled skupni prikaze število dobaviteljev  in izvidov. Lahko pa pregledamo izvide za posamezen artikel.</p>

<%= link_to "Domov/zacetek", home_index_path, class: "button button2 text-xs"%>
<%= button_to "Izpis/Sign Out", session_path, class: "button button1 text-sm", method: :delete if authenticated? %>

<%#= current_user.id %>

